#item-container {
  display: inline-flex;
  justify-content: space-between;
}

.image-container {
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.price-container {
  width: 10rem;
  margin-right: 3rem;
  position: relative;
}

.price-header {
  display: block;
  text-align: right;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 24px;
}

.remove-button {
  font-size: 1.5rem;
  background-color: rgba(25, 130, 180, 0.8);
  padding: 0.8rem;
  border: none;
  font-weight: 600;
  border-radius: 0.5rem;
  color: #fff;
  position: absolute;
  bottom: 3rem;
  right: 0;
}

.name-quantity-container h1 {
  margin: 20px;
  color: black;
}
.name-quantity-container {
  align-items: center;
}

.item-image {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

@media (max-width: 870px) {
  .container-shoppingCart {
    max-width: 55%;
  }

  .removeAll-button {
    font-size: 10px;
    padding: 0.5rem;
  }

  .remove-button {
    font-size: 10px;
    padding: 0.5rem;
  }

  .price-container h1 {
    font-size: 10px;
  }

  .item-image {
    width: 100px;
    height: 100px;
  }

  .name-quantity-container > h3 {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  #item-container {
    display: flex;
    flex-direction: column;
  }

  .container-shoppingCart {
    max-width: 55%;
  }

  .removeAll-button {
    font-size: 10px;
    padding: 0.5rem;
  }

  .remove-button {
    font-size: 10px;
    padding: 0.5rem;
  }

  .price-header h1 {
    font-size: 10px;
  }

  .item-image {
    width: 100px;
    height: 100px;
  }

  .name-quantity-container > h3 {
    font-size: 10px;
  }

  .name-quantity-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
